<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="vue.js"></script>
        <link rel="stylesheet" href="style.css"></link>
        <title>The Never-Ending Sum</title>
    </head>
    <body>
        <main id="game">
            <div class="sums">
                <sum v-for="sum in solved_sums" :sum="sum" :key="sum.id"></sum>
                <div class="current-sum" v-if="current_sum">
                    <sum :sum="current_sum" :active="true" :key="current_sum.id" @harder="harder" @easier="easier" @next="next"></sum>
                </div>
            </div>
            <footer>
                <button class="easier" @click="easier" :disabled="level==0">easier</button>
                <span class="level">{{face}}</span>
                <button class="harder" @click="harder">harder</button>
                <button @click="try_reset" class="reset">reset</button>
                <a href="about.html">about</a>
            </footer>
        </main>
        <script src="game.js" type="module"></script>
    </body>
</html>
